#optionsframework {
	max-width: 855px;
	background: #fff;
}

#optionsframework h3 {
	margin: 0;
	padding: 12px 10px;
	border-bottom: 1px solid #ddd;
	background-color: #f1f1f1;
	cursor: default;
}

#optionsframework p {
	margin-bottom: 0;
	padding-bottom: 10px;
}

#optionsframework .section {
	padding: 10px 10px 0;
}

#optionsframework .group {
	padding-bottom: 40px;
}

#optionsframework .section .controls {
	float: left;
	padding-right: 2%;
	width: 54%;
	min-width: 350px;
}

#optionsframework .section .explain {
	float: left;
	max-width: 38%;
	color: #777;
	font-size: 12px;
	line-height: 16px;
}

#optionsframework .section-checkbox .controls {
	width: 98%;
}

#optionsframework .section-checkbox .explain {
	max-width: 94%;
}

#optionsframework .controls input[type=text],#optionsframework .controls input[type=password] {
	width: 100%;
}

#optionsframework .controls input[type=text].wp-color-picker {
	width: 65px;
}

#optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom: 10px;
	width: 100%;
}

#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float: left;
	margin-bottom: 5px;
	max-width: 90%;
	line-height: 16px;
}

#optionsframework input.checkbox, #optionsframework input.of-radio {
	float: left;
	clear: both;
	margin: 0 10px 5px 0;
}

#optionsframework .section-typography .controls {
	float: none;
	width: auto;
}

#optionsframework .section-typography .explain {
	float: none;
	width: auto;
}

#optionsframework .controls .of-typography-size {
	float: left;
	width: 80px;
}

#optionsframework .controls .of-typography-unit {
	float: left;
	margin-left: 5px;
	width: 50px;
}

#optionsframework .controls .of-typography-face {
	float: left;
	margin-left: 5px;
	width: 100px;
}

#optionsframework .controls .of-typography-style {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	width: 80px;
}

#optionsframework .section-typography .wp-picker-container {
	margin-top: 2px;
}

#optionsframework .of-background-properties {
	clear: both;
	margin-top: 18px;
}

#optionsframework .controls .of-background-repeat {
	float: left;
	margin-right: 5px;
	width: 125px;
}

#optionsframework .controls .of-background-position {
	float: left;
	margin-right: 5px;
	width: 125px;
}

#optionsframework .controls .of-background-attachment {
	float: left;
	margin-right: 5px;
	width: 125px;
}

#optionsframework .section-background .wp-picker-container {
	margin-bottom: 10px;
}

#optionsframework .controls .of-radio-img-img {
	float: left;
	display: none;
	margin: 0 5px 10px 0;
	border: 3px solid #f9f9f9;
	cursor: pointer;
}

#optionsframework .controls .of-radio-img-selected {
	border: 3px solid #ccc;
}

#optionsframework .controls .of-radio-img-img:hover {
	opacity: .8;
}

#optionsframework .controls .of-border-width {
	float: left;
	width: 80px;
}

#optionsframework .controls .of-border-style {
	float: left;
	width: 120px;
}

#optionsframework .hide {
	display: none;
}

#optionsframework .of-option-image {
	margin: 3px 0 18px 0;
	max-width: 340px;
}

#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}

#optionsframework .mini .controls input, #optionsframework .mini .controls {
	width: 140px;
	min-width: 140px;
}

#optionsframework .mini .explain {
	max-width: 74%;
}

#optionsframework .section-info {
	padding-bottom: 7px;
}

#optionsframework .controls input.upload {
	width: 80%;
}

#optionsframework .screenshot {
	position: relative;
	float: left;
	margin-top: 3px;
	margin-left: 1px;
	width: 344px;
}

#optionsframework .screenshot img {
	float: left;
	margin-bottom: 10px;
	padding: 4px;
	max-width: 334px;
	border-color: #ccc #eee #eee #ccc;
	border-style: solid;
	border-width: 1px;
	background: #fafafa;
}

#optionsframework .screenshot .remove-image {
	position: absolute;
	bottom: 4px;
	left: -4px;
	float: left;
	display: block;
	padding: 0;
	width: 16px;
	height: 16px;
	border: medium none;
	background: url("../images/ico-delete.png") no-repeat;
	text-indent: -9999px;
}

#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}

#optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}

#optionsframework .reset-button {
	float: left;
	cursor: pointer;
}

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ddd;
	background-color: #f1f1f1;
}

#optionsframework .button-primary {
	float: right;
}

#optionsframework .section:after {
	display: table;
	content: "";
}

#optionsframework .section:after {
	clear: both;
}

#optionsframework .about-content {
	padding: 10px 20px;
}

#optionsframework .about-content img {
	width: 100%;
	height: auto;
}

#optionsframework .about-content .maocloud {
	width: 200px;
}

#optionsframework .about-content h4 {
	margin-top: 20px;
	margin-bottom: 16px;
	padding-bottom: .3em;
	border-bottom: 1px solid #eaecef;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.25;
}

#optionsframework .about-content ul {
	padding-left: 0;
	list-style: none;
	font-size: 15px;
}

#optionsframework .about-content ul li {
	line-height: 25px;
}

#optionsframework .about-content .notices {
	color: #727777;
	font-size: 14px;
}

#optionsframework .about-content .tips {
	color: #333333;
	text-align: center;
	font-size: 16px;
}

#optionsframework .about-content .tips b {
	margin-left: 3px;
}